version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: portal-vagas-juniors-db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: portal_vagas_juniors
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
